
header{
  width: 100%;
  position: relative;
  z-index: 2;
}

header::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 120px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.65), rgba(0,0,0,1));
  pointer-events: none;
}



.header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}

.header-logo{
  margin-top: 0;
}


i{
  color: $white-normal;
}

.header-icons{
  display: flex;
  gap: 14px;
}

.header-icons a:hover{
  i{
    animation: translateY 0.8s infinite alternate;
    color: $red-light;
  }
}

@keyframes translateY {
  from{
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}


.header-button{
  border: 1px solid $white-normal;
  padding: 8px 24px;
  border-radius: 4px;
  color: $white-normal;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-button:hover{
  border: 1px solid $red-light;
  background-color: $red-light;
}

.header-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}


@media screen and (max-width: 768px){
  header::after{
    height: 70px;
  }

  .header-content{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i{
      margin-top: 16px;
      font-size: 34px;
    }
  }


  .header-logo img{
    width: 160px;
    margin-top: 46px;
  }

  .header-button{
    display: none;
  }

}